:root{
   --mdAccentColor: rgb(153, 167, 209);

   --drkTextColor: rgb(15, 46, 107);
}



   .form-group .btn-form{
    background: var(--mdAccentColor);
    border: 2px solid var(--mdAccentColor);
    text-decoration: none;
    color: var(--drkTextColor);
   }
   
   
   
   
   
   
   
   
   
   
   
   
      
      